
@font-face {
  font-family: "Montserrat";
  src: url(../font/Montserrat/Montserrat-Bold.woff) format("woff"),
  url(../font/Montserrat/Montserrat-Bold.ttf) format("ttf"),
  url(../font/Montserrat/Montserrat-Bold.svg) format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(../font/Montserrat/Montserrat-Light.woff) format("woff"),
  url(../font/Montserrat/Montserrat-Light.ttf) format("ttf"),
  url(../font/Montserrat/Montserrat-Light.svg) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url(../font/Quicksand/Quicksand-Bold.woff) format("woff"),
  url(../font/Quicksand/Quicksand-Bold.ttf) format("ttf"),
  url(../font/Quicksand/Quicksand-Bold.svg) format("svg");
  font-weight: bold;
  font-style: normal;
}

.headline {
  @include quicksand(24px, bold, normal);
  line-height: 30px;
  margin: 0;
  display: block;
  top: 40px;
  left: 30px;
}

.subhead {
  @include montserrat(12px, bold, normal);
  text-transform: uppercase;
}


.text {
  color: rgba(31, 32, 65, 0.75);
  @include montserrat(14px, normal, normal);
  margin: 0px;
}

.primary {
  @include montserrat(12px, bold, normal);
  text-transform: uppercase;
  color: #BC9CFF;
}

.text__number {
  @include montserrat(14px, bold, normal);
}

.headline-two {
  @include quicksand(19px, bold, normal);
  margin: 0;
  color:  #1F2041;
  line-height: 24px;
}

.subhead-two {
  @include montserrat(14px, bold, normal);
  margin: 0;
  color:  rgba(31, 32, 65, 0.75);
  line-height: 24px;
}