
.montserrat14 {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.montserrat12 {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

.weight-bold {
  font-weight: bold;
}

.weight-normal {
  font-weight: normal;
}

.quicksand24 {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
}



.uppercase {
  text-transform: uppercase;
}