@import './header/header';
@import './buttonsAndLogo';
@import './content/content';
@import './pageElements';
@import './fontStyle';

body {
  padding: 0px;
  margin: 0px;
}

button {
  border: none;
  cursor: pointer;
  &:focus {
    outline: none
  }
}

.clearfix {
  height: 0px;
  clear: both;
}