html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@import './variablesMixsins.scss';
@import './fontStyle.scss';
@import './headerStyle/header.scss';
@import './activeElements.scss';
@import './contentStyle/content.scss';


body {
  padding: 0px;
  margin: 0px;
}

button {
  border: none;
  cursor: pointer;
  &:focus {
    outline: none
  }
}

input:focus {
  outline: none;
}