html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0px;
  margin: 0px;
}

button {
  border: none;
  cursor: pointer;
  &:focus {
    outline: none
  }
}

input:focus {
  outline: none;
}

input {
  outline: none;
}

input {
  border: none;
}

::-webkit-input-placeholder {color: rgba(31, 32, 65, 0.25);}
::-moz-placeholder          {color: rgba(31, 32, 65, 0.25);}/* Firefox 19+ */
:-moz-placeholder           {color: rgba(31, 32, 65, 0.25);}/* Firefox 18- */
:-ms-input-placeholder      {color: rgba(31, 32, 65, 0.25);}

@import './variablesMixsins.scss';
@import './fontStyle.scss';
@import './activeElements.scss';
@import './headerStyle/header.scss';
@import './contentStyle/login_content.scss';
@import './footerStyle/footer.scss';
@import './footerStyle/copyright.scss';
