header {
  max-width: 1920px;
  min-width: 320px;
  padding: 0;
  margin: 0;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.conteiner {
  background-color: white;
  max-width: 1160px;
  min-width: 320px;
  min-height: 70px;
  padding: 0 0 0 0;; 
  margin: 0 auto;
  position: relative;
}

header button {
  float: right;
  margin-top: 18px;
  height: 34px;
  margin-left: 20px;
}

header button:nth-of-type(2) {
 right: 216px;
 width: 87px;
}

header button:first-child {
  right: 0px;
  width: 196px;
  
}

header ul {
  margin: 0;
  li {
    float: right;
    list-style: none;
    margin-top: 26px;
    margin-left: 20px;
    a {
      position: relative;
      i {
        position: relative;
        bottom: 1.5px;
        height: 21px;
        color: rgba(31, 32, 65, 0.5);
        cursor: pointer;
        background-position: left, right;
        float: right;
        padding: -5px;
      } 
    }
  } 
}

.conteiner {
  .logo-svg {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .logo {
    float: left;
  }
  .toxin {
    float: left;
    margin-left: 12.5px;
    margin-top: 13.33px;
  }
}

