doctype html
html(lang="ru")
  head
    title= "Главная страница"
    meta(charset="utf-8")
    link(href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet")
    link(href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(href="node_modules/air-datepicker/dist/css/datepicker.css" rel="stylesheet")
    script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/datepicker.min.js")
    link(href="pageStyle/style.css" rel="stylesheet")

  body
    include components/header
    include components/content
    script(src="js/index.js")

