html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

@font-face {
  font-family: "Montserrat";
  src: url(../font/Montserrat/Montserrat-Bold.woff) format("woff"), url(../font/Montserrat/Montserrat-Bold.ttf) format("ttf"), url(../font/Montserrat/Montserrat-Bold.svg) format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "Montserrat";
  src: url(../font/Montserrat/Montserrat-Light.woff) format("woff"), url(../font/Montserrat/Montserrat-Light.ttf) format("ttf"), url(../font/Montserrat/Montserrat-Light.svg) format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Quicksand";
  src: url(../font/Quicksand/Quicksand-Bold.woff) format("woff"), url(../font/Quicksand/Quicksand-Bold.ttf) format("ttf"), url(../font/Quicksand/Quicksand-Bold.svg) format("svg");
  font-weight: bold;
  font-style: normal; }
.headline {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: 30px;
  margin: 0;
  display: block;
  top: 40px;
  left: 30px;
  width: 320px;
  height: 60px; }

.subhead {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase; }

.text {
  color: rgba(31, 32, 65, 0.75);
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  margin: 0px; }

.primary {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  color: #BC9CFF; }

.text__number {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: bold; }

.button {
  font-family: Montserrat serif;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  height: 34px;
  width: 196px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  color: #FFFFFF;
  font-size: 12px; }

.button:active {
  opacity: 0.5; }

.button-default {
  border-radius: 22px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  width: 87px;
  height: 34px;
  padding: 2px 2px; }

.button-default:active {
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%); }

.button-default::before {
  content: '';
  display: block;
  margin: 0;
  border-radius: 22px;
  width: 100%;
  height: 100%;
  background-color: white;
  text-align: center;
  color: #BC9CFF;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 30px;
  text-transform: uppercase; }

.button-default__text {
  color: #BC9CFF;
  font-family: Montserrat, sans-serif;
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: -30px; }

.link {
  font-family: Montserrat, sans-serif;
  font-weight: normal;
  color: rgba(31, 32, 65, 0.5);
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
  text-decoration: none; }

.link:focus {
  color: rgba(31, 32, 65, 0.8); }

.menu__button {
  list-style: none; }

.input-wrapper {
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  min-width: 100px;
  margin: 0px;
  padding: 0px;
  display: inline-flex;
  flex-direction: row; }

.input-wrapper__input {
  border: none;
  border-radius: 4px;
  width: 100%;
  flex-shrink: 2;
  flex-grow: 0;
  margin: 0px;
  height: 44px;
  padding: 0 0 0 15px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-style: "normal";
  font-weight: "normal";
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75); }

.input-wrapper__button {
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 44px;
  height: 44px;
  width: 44px;
  background: url("../images/expand_more.svg");
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer; }

.drop-down {
  border: 1px solid rgba(31, 32, 65, 0.25);
  position: relative;
  border-radius: 4px;
  min-width: 140px;
  height: 44px;
  margin: 0px;
  padding: 0px;
  display: inline-flex;
  flex-direction: row;
  overflow: hidden;
  z-index: 1;
  background: #FFFFFF; }

.drop-down__input {
  border: none;
  border-radius: 4px;
  width: 100%;
  flex-shrink: 2;
  flex-grow: 0;
  margin: 0px;
  height: 44px;
  padding: 0 0 0 15px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-style: "normal";
  font-weight: "normal";
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75); }

.drop-down__button {
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 44px;
  height: 44px;
  width: 44px;
  background: url("../images/expand_more.svg");
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer; }

.drop-down__list {
  position: absolute;
  display: block;
  top: 42px;
  padding: 0px;
  border-radius: 0 0 4px 4px;
  border-top: 1px solid rgba(31, 32, 65, 0.5);
  height: 159px;
  width: 100%; }

.drop-down__list__ul {
  padding-left: 0px;
  margin: 0px; }

.drop-down__list__cells {
  margin-top: 7px;
  width: 100%;
  padding-left: 15px;
  line-height: 30px;
  list-style: none;
  height: 30px; }

.drop-down__list__button {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 22px;
  background-color: #FFFFFF; }

.drop-down__list__button--max, .drop-down__list__number, .drop-down__list__button--min {
  float: right; }

.drop-down__list__button--max {
  background-image: url("../../images/+.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 7px; }

.drop-down__list__button--min {
  background-image: url("../../images/-.svg");
  background-repeat: no-repeat;
  background-position: center; }

.drop-down__list__number {
  float: right;
  width: 32px;
  text-align: center; }

.button-empty {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  width: 84px;
  height: 15px;
  padding: 0;
  text-transform: uppercase;
  background-color: #FFFFFF; }

.calendar__button-empty--clear {
  margin-bottom: 20px;
  height: 15px;
  width: 72px;
  color: rgba(31, 32, 65, 0.5);
  float: left;
  margin-left: 20px;
  margin-bottom: 20px; }

.calendar__button-empty--apply {
  margin-right: 20px;
  margin-bottom: 20px;
  float: right;
  margin-bottom: 20px;
  width: 84px;
  color: #BC9CFF;
  height: 15px; }

.calendar__button-empty--apply:active {
  color: rgba(31, 32, 65, 0.5); }

.label {
  color: rgba(31, 32, 65, 0.5);
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 18px; }

.slider {
  width: 266px;
  height: 6px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 3px;
  position: relative; }

.bar {
  position: absolute;
  left: 50px;
  width: 100%;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  height: 100%; }

.lp span {
  display: none;
  position: relative;
  left: -30px; }

.rp span {
  position: relative;
  left: 10px;
  display: none; }

.lp, .rp {
  cursor: pointer;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  width: 16px;
  height: 16px;
  border: 2px solid #FFFFFF;
  box-sizing: padding-box;
  border-radius: 10px;
  position: absolute;
  line-height: 400%;
  color: black;
  user-select: none; }

.lp {
  left: -3px;
  top: -6px; }

.rp {
  left: 100%;
  top: -6px; }

.checkbox {
  display: none; }

.label {
  position: relative;
  cursor: pointer;
  height: 20px; }

.label:before {
  content: '';
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  margin: 0;
  box-sizing: border-box; }

.label::after {
  content: '';
  display: none;
  position: absolute;
  top: 6px;
  left: 6px;
  width: 20px;
  height: 20px;
  width: 8px;
  height: 6px;
  border-bottom: 2px solid  #BC9CFF;
  border-left: 2px solid  #BC9CFF;
  transform: rotate(-45deg);
  box-sizing: border-box; }

.checkbox-text {
  margin-left: 30px;
  display: block;
  width: 100%;
  line-height: 20px; }

.checkbox:checked + .label::after {
  display: block; }

.checkbox:checked + .label::before {
  border: 1px solid  #BC9CFF; }

.button-more {
  width: 44px;
  height: 44px;
  background-color: #FFFFFF;
  background-image: url("/images/expand_more.svg");
  background-repeat: no-repeat;
  background-position: center; }

.comfort-list .label {
  margin-top: 10px;
  height: 20px;
  display: block;
  width: 100%; }

.comfort-list .label:first-of-type {
  margin-top: 17.44px; }

.card {
  width: 270px;
  height: 257px;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  margin: 20px 0px 0 12px;
  position: relative;
  display: inline-block; }

.slider-card {
  height: 151px;
  width: 270px;
  overflow: hidden;
  position: relative;
  outline: none;
  border: none;
  box-shadow: none;
  border-radius: 4px 4px 0px 0px; }

.slider-card__photo {
  height: 151px;
  width: 270px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center; }

.slider-card__container {
  height: 151px;
  width: 1080px;
  outline: none;
  border: none;
  box-shadow: none; }

.slider-card__input {
  display: none; }

.slider-card__label::before {
  content: '';
  position: absolute;
  display: block;
  width: 7.5px;
  height: 7.49px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 5px 5px rgba(31, 32, 65, 0.3);
  border-radius: 50%;
  z-index: 2; }

.slider-card__label::after {
  content: '';
  position: absolute;
  display: none;
  width: 7.5px;
  height: 7.49px;
  background-color: #FFFFFF;
  border-radius: 50%;
  z-index: 2; }

.slider-card__input:checked + .slider-card__label::after {
  display: block; }

.slider-card__button--next, .slider-card__button--back {
  width: 44px;
  height: 44px;
  position: absolute;
  background-color: Transparent;
  background-image: url("/images/expand_more_white.svg");
  background-repeat: no-repeat;
  background-position: center; }

.slider-card__container {
  transition: all 0.5s; }

.slider-card__label {
  position: absolute;
  cursor: pointer;
  top: 128.89px; }

.slider-card__label--1 {
  left: 213.75px; }

.slider-card__label--2 {
  left: 225px; }

.slider-card__label--3 {
  left: 236.25px; }

.slider-card__label--4 {
  left: 247.5px; }

.slider-card__button--next {
  position: absolute;
  right: 0px;
  top: 53px;
  z-index: 2; }

.slider-card__button--back {
  position: absolute;
  left: 0px;
  top: 53px;
  transform: rotate(180deg);
  z-index: 2; }

.card__description {
  position: absolute;
  width: 233px;
  height: 67px;
  left: 20px;
  top: 171px; }

.card__line {
  height: 1px;
  width: 230px;
  position: absolute;
  top: 34px;
  background: rgba(31, 32, 65, 0.1); }

.card__stars {
  height: 24px;
  width: 120px;
  position: absolute;
  bottom: 0;
  left: 0; }

.star {
  height: 24px;
  width: 24px;
  display: inline-block;
  background-image: url("/images/star_border.svg");
  background-repeat: no-repeat;
  background-position: center; }

.card__subhead {
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  width: 65px;
  height: 24px;
  margin: 0; }

.subhead__number {
  font-family: 'Quicksand', sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: bold; }

.card__primary {
  width: 41px;
  height: 15px;
  line-height: 15px;
  margin: 0;
  position: absolute;
  left: 60px;
  top: 7px; }

.card__text--prise {
  width: 100px;
  height: 20px;
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  color: rgba(31, 32, 65, 0.5);
  right: 0;
  top: 4px; }

.card__text--reviews {
  width: 84px;
  height: 18px;
  margin: 0;
  position: absolute;
  right: 4px;
  bottom: 2.44px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5); }

.button-group__card {
  height: 7.5px;
  position: absolute;
  right: 15px;
  z-index: 9;
  bottom: 15.11px; }

.button-group__card__button {
  display: block;
  width: 7.5px;
  height: 7.49px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 5px 5px rgba(31, 32, 65, 0.3);
  border-radius: 50%;
  z-index: 10;
  padding: 0;
  margin-left: 3.75px;
  background-color: transparent;
  float: left; }

.button-group__card__button:first-child {
  background-color: #FFFFFF; }

.room-cards__headline {
  width: 513px;
  height: 30px;
  line-height: 30px; }

.navigation-rooms {
  width: 240px;
  height: 40px;
  display: block; }

.navigation-rooms__button {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: rgba(31, 32, 65, 0.75);
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  margin: 0px; }

.navigation-rooms__button--next {
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 22px; }

.navigation-rooms__button--next::after {
  content: '.';
  display: block;
  border-radius: 22px;
  color: #66D2EA;
  width: 40px;
  height: 40px;
  background-image: url("/images/arrow_forward_white.svg");
  background-position: center;
  background-repeat: no-repeat; }

.active-page {
  border-radius: 22px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  color: white; }

.header {
  max-width: 1920px;
  min-width: 320px;
  min-height: 70px;
  padding: 0;
  margin: 0;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05); }

.header__wrapper {
  max-width: 1160px;
  min-width: 320px;
  min-height: 70px;
  padding: 0;
  margin: 0 auto;
  position: relative; }

.menu {
  margin: 0;
  padding: 0; }

.logo {
  height: 40px;
  width: 105.69px;
  margin: 0;
  padding: 0; }

.header__logo {
  float: left;
  margin-top: 15px; }

.logo__image {
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  background-image: url(../images/Vector.svg), url(../images/VectorLeft.svg), url(../images/VectorRight.svg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: top right, top 15.29px left 9.41px, top 15.29px left 21.47px;
  float: left; }

.logo__toxin {
  width: 53.19px;
  height: 12.95px;
  background-image: url(../images/TOXIN.svg);
  background-repeat: no-repeat;
  background-position: top -0.3px left -0.5px;
  float: left;
  margin: 0;
  padding: 0;
  margin-left: 12.5px;
  margin-top: 13.33px; }

.header__button, .header__button-default {
  float: right;
  margin-top: 18px; }

.header__button-default {
  margin-right: 20px; }

.header__wrapper::after {
  display: block;
  width: 0px;
  content: "";
  clear: both; }

.menu__button {
  float: right;
  margin-right: 20px;
  margin-top: 26px; }

.menu__button__select-icon {
  display: block;
  background-image: url("../../images/expand_more.svg");
  background-repeat: no-repeat;
  background-position: center;
  float: right;
  width: 24px;
  height: 21px; }

.content {
  max-width: 1920px;
  min-width: 320px;
  margin: 0px;
  padding: 0px; }

.content__wrapper {
  margin: 0 auto;
  max-width: 1160px;
  min-width: 320px;
  position: relative; }

.footer {
  max-width: 1920px;
  min-width: 320px;
  min-height: 372px;
  margin: 0px;
  padding: 0px;
  background: #FFFFFF;
  box-shadow: 0px 0px 1px rgba(31, 32, 65, 0.3); }

.footer__wrapper {
  margin: 0 auto;
  max-width: 1160px;
  min-width: 320px;
  min-height: 372px;
  position: relative; }

.best-hotel, .navigation, .about-us, .support, .subscription {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  margin-top: 104px;
  width: 160px;
  margin-bottom: 20px; }

.best-hotel, .navigation, .about-us, .support {
  margin-right: 40px; }

.best-hotel {
  width: 260px;
  margin-top: 100px; }

.subscription {
  width: 260px; }

.best-hotel__text {
  line-height: 24px;
  margin-top: 20px; }

.subscriotion__text {
  line-height: 24px;
  margin-top: 21px; }

.navigation__list, .about-us__list, .support__list {
  padding: 0;
  margin: 0; }

.navigation__list__cell, .about-us__list__cell, .support__list__cell {
  list-style: none;
  height: 18px;
  margin-top: 20px; }

.navigation__list__cell:first-child, .about-us__list__cell:first-child, .support__list__cell:first-child {
  margin-top: 21px; }

.subscription__input-wrapper {
  width: 260px;
  margin-top: 20px; }

.input-wrapper__button--next {
  background-image: url("../../images/arrow_forward.svg");
  background-repeat: no-repeat;
  background-position: center; }

q {
  quotes: "\00ab" "\00bb"; }

.navigation__subhead, .about-us__subhead, .support__subhead, .subscription__subhead {
  margin: 0; }

.copyright {
  max-width: 1920px;
  min-width: 320px;
  min-height: 70px;
  margin: 1px 0 0 0;
  padding: 0px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05); }

.copyright__wrapper {
  margin: 0 auto;
  min-height: 70px;
  max-width: 1160px;
  min-width: 320px;
  position: relative; }

.social-networks__twitter, .social-networks__face-book, .social-networks__instagram {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer; }

.social-networks__twitter {
  background-image: url("/images/twitter.svg"); }

.social-networks__face-book {
  background-image: url("/images/face-book.svg");
  margin-left: 20px; }

.social-networks__instagram {
  background-image: url("/images/instagram.svg");
  margin-left: 20px; }

.social-networks {
  float: right;
  margin-top: 23px; }

.copyright__text {
  position: absolute;
  top: 26px;
  height: 18px;
  display: block;
  max-width: 367px;
  min-width: 300px;
  margin: 0; }

body {
  padding: 0px;
  margin: 0px; }

button {
  border: none;
  cursor: pointer; }
  button:focus {
    outline: none; }

input:focus {
  outline: none; }

::-webkit-input-placeholder {
  color: rgba(31, 32, 65, 0.25); }

::-moz-placeholder {
  color: rgba(31, 32, 65, 0.25); }

/* Firefox 19+ */
:-moz-placeholder {
  color: rgba(31, 32, 65, 0.25); }

/* Firefox 18- */
:-ms-input-placeholder {
  color: rgba(31, 32, 65, 0.25); }

/*# sourceMappingURL=page_3_Style.css.map */
