
.content {
  min-height: 1230px;
  max-width: $maxWidthPage;
  min-width: $minWidthPage;
  margin: 0px;
  padding: 0px; 
}

.content__wrapper {
  display: flex;
  margin: 0 auto;
  max-width: $maxWidthWrapper;
  min-width: $minWidthPage;
  min-height: 1357px;
  position: relative;
}
.selection-room {
  display: inline-block;
  
  width: 266px;
  flex-shrink: 0;
  min-height: 930px;
  position: relative;
  margin: 0;
  padding: 0;
  margin-right: 48px;
}

.calendar {
  display: none;
  position: absolute;
  z-index: 10;
}

.selection-room__subhead--dates-of-stay  {
  margin: 0;
  height: 15px;
  position: absolute;
  top: 30px;
}

.selection-room__input-wrapper {
  position: absolute;
  top: 50px;
  width: 266px;
}

.selection-room__subhead--guests {
  margin: 0;
  position: absolute;
  top: 114.44px;
}

.selection-room__drop-down--guests {
  width: 266px;
  position: absolute;
  top: 134px;
}

.selection-room__subhead--prise, .selection-room__text--num-prise {
  display: inline-block;
  height: 15px;
  line-height: 15px;
  position: absolute;
  top: 209px;
  margin: 0;
}
.selection-room__text--num-prise {
  right: 0px;
  font-size: 12px;
  top: 209px;
}


.selection-room__text--num-prise {
  width: 130px;
  text-align: right;
}

.selection-room__text--description-prise {
  width: 264px;
  height: 14px;
  line-height: 14px;
  position: absolute;
  top: 266px;
  font-size: 12px;
  color: rgba(31, 32, 65, 0.5);
}

.selection-room__sliger {
  position: absolute;
  top: 246.44px;
}

.selection-room__subhead--special-options {
  margin: 0;
  height: 15px;
  position: absolute;
  top: 310px;
}

.selection-room__label--smoke {
  position: absolute;
  top: 341.56px;
}

.selection-room__label--pets {
  position: absolute;
  top: 372.12px;
}

.selection-room__label--guests {
  position: absolute;
  top: 402.12px;
}

.selection-room__label--guests .checkbox-text {
  width: 200px;
}

.selection-room__subhead--accessibility {
  margin: 0;
  height: 15px;
  position: absolute;
  top: 470px;
}

.selection-room__label--hole {
  position: absolute;
  font-weight: bold;
  height: 18px;
  top: 501px;
  color: rgba(31, 32, 65, 0.75);
}

.selection-room__text--hole {
  font-size: 12px;
  line-height: 14px;
  width: 203px;
  height: 28px;
  position: absolute;
  top: 525px;
  left: 30px;
  color: rgba(31, 32, 65, 0.5);
}

.selection-room__label--helper {
  position: absolute;
  top: 563px;
  color: rgba(31, 32, 65, 0.75);
  font-weight: bold;
}

.selection-room__text--helper {
  font-size: 12px;
  line-height: 14px;
  width: 236px;
  height: 28px;
  position: absolute;
  top: 587px;
  left: 30px;
  color: rgba(31, 32, 65, 0.5);
}

.selection-room__subhead--comfort {
  margin: 0;
  height: 15px;
  position: absolute;
  top: 645.44px;
}

.selection-room__drop-down--bed {
  width: 266px;
  position: absolute;
  top: 665px;
}

.selection-room__comfort-list {
  position: absolute;
  width: 266px;
  height: 30px;
  top: 739px;
  overflow: hidden;
}

.comfort-list__button-more {
  position: absolute; 
  top: -15px;
  right: 0;
}

.comfort-list__subhead--extra-comfort {
  margin: 0;
}

.calendar {
  position: absolute;
  top: 100px;
}

.drop-down__list__button-empty--clear {
  display: none;
  position: absolute;
  bottom: 13px;
  left: 14px;
  color: $colorClear;
}

.drop-down__list__button-empty--apply {
  position: absolute;
  bottom: 13px;
  right: 7px;
  padding: 0;
  color: $colorApply;
  background-color: #FFFFFF
}

.drop-down__list__button-empty--apply:active {
  color:rgba(31, 32, 65, 0.5);
}

.room-cards {
  display: inline-block;
  position: relative;
  max-width: 846px;
  // width: 100%;
  // height: 846px; 
  min-width: 282px;
  margin: 30px 0 0 0;
  vertical-align: top;
 
}




.slider-card__photo--1 {
  background-image: url(../images/rooms/image1.png);
  outline: none;
  border: none;
  box-shadow: none;
}

.slider-card__photo--2 {
  background-image: url(../images/rooms/image2.png);
}

.slider-card__photo--3 {
  background-image: url(../images/rooms/image3.png);
}

.slider-card__photo--4 {
  background-image: url(../images/rooms/image4.png);
}

.room-cards__headline {
  display: block;
  margin: 0 0 0 12px;
  letter-spacing: 0.7px;
}

.navigation-rooms {
  margin-top: 42px;
  margin-left: auto;
  margin-right: auto; 
}

.room-cards-text {
  width: 234px;
  height: 24px;
  line-height: 24px;
  display: block;
  margin-top: 8.5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  letter-spacing: 0.15px;
}

@media (max-width: 1160px) {
  .content__wrapper {
    padding: 0 15px 0 15px;
    
  }
}

@media (max-width: 460px) {
  .content__wrapper {
    display: block;
  }

  .cards-list {
    display: block;
    width: 272px;
    margin-left: auto;
    margin-right: auto;
  }
  .card {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
  }

  .room-cards {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .selection-room {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .calendar {
    left: -25px;
  }
  
}






