
.content {
  background: url(../images/index.png), no-repeat;
  background-size: cover;
  height: 830px;
  max-width: $maxWidthPage;
  min-width: $minWidthPage;
  margin: 0px;
  padding: 0px; 
}

.content__wrapper {
  margin: 0 auto;
  max-width: $maxWidthWrapper;
  min-width: $minWidthPage;
  min-height: 70px;
  height: 830px;
  position: relative;
}

.room-search {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  width: 380px;
  height: 374px;
  background-color: #FFFFFF;
  position: absolute;
  top: 70px;
}

.room-search__subhead--arrival {
  line-height: 15px;
  width: 83px;
  height: 15px;
  display: block;
  left: 30px;
  position: absolute;
  top: 120px;
  margin: 0px;
}

.room-search__subhead--exit {
  line-height: 15px;
  display: block;
  width: 83px;
  height: 15px;
  right: 97px;
  position: absolute;
  top: 120px;
  margin: 0px;
}

.room-search__subhead--guests {
  left: 30px;
  height: 15px;
  top: 205px;
  position: absolute;
  margin: 0px;
}

.input-wrapper--arrival, .input-wrapper--exit {
  position: absolute;
  top: 140.44px;
  width: 150px;
}

.input-wrapper--arrival {
  left: 30px;
}

.input-wrapper--exit {
  right: 30px;
}

.room-search__drop-down {
  top: 226.44px;
  left: 30px;
  position: absolute;
  width: 320px;
  height: 44px;
}

.drop-down__list__button-empty--apply {
  position: absolute;
  bottom: 13px;
  right: 7px;
  padding: 0;
  color: $colorApply;
  background-color: #FFFFFF
}

.drop-down__list__button-empty--apply:active {
  color:rgba(31, 32, 65, 0.5);
}

.drop-down__list__button-empty--clear {
  display: none;
  position: absolute;
  bottom: 13px;
  left: 14px;
  color: $colorClear;
}

.room-search__button {
  position: absolute;
  bottom: 30px;
  margin: 0px;
  right: 30px;
  width: 320px;
  height: 44px;
}

.room-search__button__icon--next {
  background-image: url(../../images/arrow_forward_white.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 44px;
  height: 44px;
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  margin: 0;
}

.content__text {
  position: absolute;
  right: 0px;
  bottom: 18px;
  width: 297px;
  height: 48px;
  text-align: right;
  line-height: 24px;
  margin: 0px;
}



.calendar {
  position: absolute; 
  display: none;
  width: 320px;
  height: 44px; 
  top: 190px;
  left: 30px;
  z-index: 10;
}


.calendar__button-empty--apply:active {
  color: rgba(31, 32, 65, 0.5);
}
