
.content {
  background: url(../images/index.png), no-repeat;
  height: 830px;
  max-width: 1920px;
  min-width: 320px;
  margin: 0px;
  padding: 0px; 
  .content-conteiner {
    margin: 0 auto;
    max-width: 1160px;
    min-width: 320px;
    min-height: 70px;
    height: 830px;
    position: relative;
    .text {
      position: absolute;
      right: 0px;
      bottom: 18px;
      width: 297px;
      height: 48px;
      p {
        text-align: right;
        color: rgba(31, 32, 65, 0.75);
      }
    }
  }
}

.content-conteiner .room-search-box {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  width: 380px;
  height: 374px;
  background-color: #FFFFFF;
  position: absolute;
  top: 70px;
  .calendar {
    position: absolute; 
    display: none;
    width: 320px;
    height: 44px; 
    top: 190px;
    left: 30px;
    z-index: 10; 
  }
  h1 {
    display: block;
    position: absolute;
    margin: 0px;
    top: 40px;
    left: 30px;
    width: 320px;
    height: 60px;
  }
  h3 {
    display: block;
    position: absolute;
    top: 120px;
    margin: 0px;
    &:first-of-type {
      width: 83px;
      height: 15px;
      left: 30px;
    }
    &:last-of-type {
      width: 83px;
      right: 97px;
    }
  }
  
  .submit {
    position: absolute;
    bottom: 30px;
    margin: 0px;
    right: 30px;
    width: 320px;
    height: 44px;
  }

  .guests {
    position: absolute;
    border-color: rgba(31, 32, 65, 0.5);
    overflow: hidden;
    height: 44px;
    width: 320px;
    top: 226.44px;
    left: 30px;
    z-index: 1;
    background: #FFFFFF;
    .amount-guest {
      position: absolute;
      top: 42px;
      padding: 0px;
      box-sizing: border-box;
      border-radius: 0 0 4px 4px;
      border-top: 1px solid  rgba(31, 32, 65, 0.5);
      height: 159px;
      width: 319px;
      ul {
        padding-left: 0px;
        margin: 0px;
        li {
          margin: 7px 0 0 0;
          padding-left: 15px;
          line-height: 30px;
          position: relative;
          list-style: none;  
          height: 30px;
          span {
            
            width: 32px;
            height: 15px;
            position: absolute;
            right: 37px;
            text-align: center;
          }
          button {
            position: absolute;
            width: 30px;
            height: 30px;
            border: 1px solid rgba(31, 32, 65, 0.25);
            box-sizing: border-box;
            border-radius: 22px;
            background-color: #FFFFFF;
            
          }
          .min {
            right: 69px;
            background-image: url('../../images/-.svg');
            background-repeat: no-repeat;
            background-position: center; 
          }
          .max {
            right: 7px;
            background-image: url('../../images/+.svg');
            background-repeat: no-repeat;
            background-position: center; 
          }
          
          
        }
      } 
    }
  }
}

.input-container.guests .select:hover .input-container.guests {   
  height: 203px;
}
.guests .amount-guest .clear {
  position: absolute;
  width: 72px;
  height: 15px;
  bottom: 13px;
  left: 14px;
  padding: 0;
  color: rgba(31, 32, 65, 0.5);
  background-color: #FFFFFF
}

.guests .amount-guest .apply {
  position: absolute;
  width: 84px;
  height: 15px;
  bottom: 13px;
  right: 7px;
  padding: 0;
  color: #BC9CFF;
  background-color: #FFFFFF
}

.exit, .arrival {
  position: absolute;
  top: 140.44px;
  width: 150px;
}
.exit {
  right: 30px;
}

.arrival {
  left: 30px;
}

.datepicker button {
  position: absolute;
  top: 300px;
  left: 30px;
  width: 50px;
  height: 44px;
}