
.datepicker--cell {
  width: 39.88px;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: rgba(31, 32, 65, 0.5);
  }

  .-selected- {
     font-weight: bold;
    font-size: 12px;
   }