.content
  .content-conteiner
    .room-search-box
      h1.headline.quicksand24.weight-bold Найдём номера под ваши пожелания
      h3.montserrat12.weight-bold.uppercase прибытие 
      h3.montserrat12.weight-bold.uppercase выезд
      .input-container.arrival
        input.input(type='text' id="arrival" placeholder="ДД.ММ.ГГГГ")
        button.select
      .input-container.exit
        input.input(type='text' id="exit" placeholder="ДД.ММ.ГГГГ")
        button.select
      .calendar
      .input-container.guests
        input.input(type="text" placeholder="Сколько гостей")
        button.select
        .amount-guest
          ul
            li.adult.montserrat12.weight-bold.uppercase взрослые
              button.min
              span 0
              button.max
            li.children.montserrat12.weight-bold.uppercase дети
              button.min
              span 0
              button.max
            li.baby.montserrat12.weight-bold.uppercase младенцы
              button.min
              span 0
              button.max
          button.clear.montserrat12.weight-bold.uppercase очистить
          button.apply.montserrat12.weight-bold.uppercase применить
      button.gradient--button(class="submit") Подобрать номер
        
    .text
      p.montserrat Лучшие номера для вашей работы, отдыха и просто вдохновения