.content
  .content-conteiner
    .room-search-box
      h1.headline.quicksand24.weight-bold Найдём номера под ваши пожелания
      h3.montserrat12.weight-bold.uppercase прибытие 
      h3.montserrat12.weight-bold.uppercase выезд
      input(id="arrival")
      input(type='text' id="exit")
      div.calendar(type='text' class="datepicker-here" data-range="true")
      button.gradient--button(class="submit") Подобрать номер
        
    .text
      p.montserrat Лучшие номера для вашей работы, отдыха и просто вдохновения