
.copyright
  .copyright__wrapper

    p.text.copyright__text
                          | Copyright &copy; 2019 Toxin отель.
                          | Все права защищены.
    .social-networks
      a.social-networks__twitter
      a.social-networks__face-book
      a.social-networks__instagram