
.footer
  .footer__wrapper
    
    .best-hotel.footer__best-hotel
      .logo.best-hotel__logo
        .logo__image
        .logo__toxin
      p.text.best-hotel__text
                            | Бронирование номеров в лучшем отеле 2019 года
                            | по версии асоциации <q>Отельные взгляды</q>

    .navigation.footer__navigation
      h2.subhead.navigation__subhead Навигация
      ul.navigation__list
        li.navigation__list__cell
          a.link(href="#") О нас
        li.navigation__list__cell
          a.link(href="#") Новости
        li.navigation__list__cell
          a.link(href="#") Служба поддержки
        li.navigation__list__cell
          a.link(href="#") Услуги
    
    .about-us.footer__about-us
      h2.subhead.about-us__subhead О нас
      ul.about-us__list
        li.about-us__list__cell
          a.link(href="#") О сервисе
        li.about-us__list__cell
          a.link(href="#") Наша команда
        li.about-us__list__cell
          a.link(href="#") Вакансии
        li.about-us__list__cell
          a.link(href="#") Инвесторы

    .support.footer__support
      h2.subhead.support__subhead Служба поддержки
      ul.support__list
        li.support__list__cell
          a.link(href="#") Соглашения
        li.support__list__cell
          a.link(href="#") Сообщества
        li.support__list__cell
          a.link(href="#") Связь с нами

    .subscription.footer__subscription
      h2.subhead.subscription__subhead Подписка
      p.text.subscriotion__text
                              | Получайте специальные
                              | пердложения и новости сервиса
      .input-wrapper.subscription__input-wrapper
        input.input-wrapper__input(type='email' placeholder="Email")
        button.input-wrapper__button.input-wrapper__button--next

