header
  .conteiner
    button.gradient--button <span>зарегестрироваться</span>
    button.default--butoon <div><span>войти</span></div>
    ul.menu--link
      li 
        a.link(href='#' class="montserrat14 weight-normal") Соглашения
          <i class="material-icons">keyboard_arrow_down</i>
      li 
        a.link(href='#' class="montserrat14 weight-normal") Новости
      li 
       a.link(href='#' class="montserrat14 weight-normal") Вакансии
      li 
        a.link(href='#' class="montserrat14 weight-normal") Услуги <i class="material-icons">keyboard_arrow_down</i>
      li 
        a.link(href='#' class="montserrat14 weight-normal") О нас
    .logo-svg
      .logo
      .toxin
      .clearfix
    .clearfix
    