.header
  .header__wrapper

    .logo.header__logo
      .logo__image
      .logo__toxin

    button.button.header__button
      span.button__text Зарегестрироваться
    button.button-default.header__button-default
      span.button-default__text Войти

    ul.menu
      li.menu__button
        a.link(href="#") Соглашения
        span.menu__button__select-icon
      li.menu__button
        a.link(href="#")  Новости       
      li.menu__button
        a.link(href="#") Вакансии
      li.menu__button
        a.link(href="#") Услуги
        span.menu__button__select-icon
      li.menu__button
        a.link(href="#") О нас
        
        
    
