
.content
  .content__wrapper


    .selection-room

      h2.subhead.selection-room__subhead--dates-of-stay Даты пребывания в отеле
      .input-wrapper.selection-room__input-wrapper
        input.input-wrapper__input(type='text' placeholder="")
        button.input-wrapper__button
      .calendar

      h2.subhead.selection-room__subhead--guests Гости
      .drop-down.selection-room__drop-down--guests
        input.drop-down__input(type="text" placeholder="Сколько гостей" value="")
        button.drop-down__button
        .drop-down__list.drop-down__list--guests
          ul.drop-down__list__ul
            li.subhead.drop-down__list__cells.drop-down__list__cells--adult Взрослые
              button.drop-down__list__button.drop-down__list__button--max +
              span.drop-down__list__number 0
              button.drop-down__list__button.drop-down__list__button--min(disabled) -
            li.subhead.drop-down__list__cells.drop-down__list__cells--children Дети
              button.drop-down__list__button.drop-down__list__button--max +
              span.drop-down__list__number 0
              button.drop-down__list__button.drop-down__list__button--min(disabled) -
            li.subhead.drop-down__list__cells.drop-down__list__cells--baby Младенцы
              button.drop-down__list__button.drop-down__list__button--max +
              span.drop-down__list__number 0
              button.drop-down__list__button.drop-down__list__button--min(disabled) -
          button.button-empty.drop-down__list__button-empty--clear Очистить
          button.button-empty.drop-down__list__button-empty--apply Применить
    
      h2.subhead.selection-room__subhead--prise Диапазон цены
      p.text.selection-room__text--num-prise
        span.min-prise 0
        | &#8381 - 
        span.max-prise 0
        | &#8381
      .slider.selection-room__sliger
        .bar(data-start="1" data-end="20")
          .lp(data-pos="0.1")
          .rp(data-pos="0.7")
      p.text.selection-room__text--description-prise Стоимость за сутки пребывания в номере

      h2.subhead.selection-room__subhead--special-options Специальные условия
      input.checkbox.selection-room__checkbox--smoke(type="checkbox" id="smoke")
      label.label.selection-room__label--smoke(for="smoke") 
        span.checkbox-text Можно курить
      input.checkbox.selection-room__checkbox--pets(type="checkbox" id="pets")
      label.label.selection-room__label--pets(for="pets")
        span.checkbox-text Можно с питомцами
      input.checkbox.selection-room__checkbox--guests(type="checkbox" id="guests")
      label.label.selection-room__label--guests(for="guests")
        span.checkbox-text Можно пригласить гостей (до 10 человек)

      h2.subhead.selection-room__subhead--accessibility Доступность
      input.checkbox.selection-room__checkbox--hole(type="checkbox" id="hole")
      label.label.selection-room__label--hole(for="hole")
        span.checkbox-text Широкий коридор
      p.text.selection-room__text--hole Ширина коридоров в номере не мене 91 см
      input.checkbox.selection-room__checkbox--helper(type="checkbox" id="helper")
      label.label.selection-room__label--helper(for="helper")
        span.checkbox-text Помошник для инвалидов
      p.text.selection-room__text--helper На 1 этаже вас встретит специалист и проводит до номера

      h2.subhead.selection-room__subhead--comfort Удобства номера
      .drop-down.selection-room__drop-down--bed
        input.drop-down__input(type="text" placeholder="" value="1 спальня, 1 кровать, 1 ванная")
        button.drop-down__button
        .drop-down__list
          ul.drop-down__list__ul
            li.subhead.drop-down__list__cells.drop-down__list__cells--bedrooms Спальни
              button.drop-down__list__button.drop-down__list__button--max +
              span.drop-down__list__number 1
              button.drop-down__list__button.drop-down__list__button--min(disabled) -
            li.subhead.drop-down__list__cells.drop-down__list__cells--beds Кровати
              button.drop-down__list__button.drop-down__list__button--max +
              span.drop-down__list__number 1
              button.drop-down__list__button.drop-down__list__button--min(disabled) -
            li.subhead.drop-down__list__cells.drop-down__list__cells--bathrooms Ванные комнаты
              button.drop-down__list__button.drop-down__list__button--max +
              span.drop-down__list__number 1
              button.drop-down__list__button.drop-down__list__button--min(disabled) -
    
      .comfort-list.selection-room__comfort-list
        h2.subhead.comfort-list__subhead--extra-comfort Дополнительные удобства
        button.button-more.comfort-list__button-more
        input.checkbox.comfort-list__checkbox--breakfast(type="checkbox" id="breakfast")
        label.label.comfort-list__label--breakfast(for="breakfast")
          span.checkbox-text Завтрак
        input.checkbox.comfort-list__checkbox--table(type="checkbox" id="table")
        label.label.comfort-list__label--table(for="table")
          span.checkbox-text Письменный стол
        input.checkbox.comfort-list__checkbox--chair-meel(type="checkbox" id="chair-meel")
        label.label.comfort-list__label--chair-meel(for="chair-meel")
          span.checkbox-text Стул для кормления
        input.checkbox.comfort-list__checkbox--bed-baby(type="checkbox" id="bed-baby")
        label.label.comfort-list__label--bed-baby(for="bed-baby")
          span.checkbox-text Кроватка
        input.checkbox.comfort-list__checkbox--tv(type="checkbox" id="tv")
        label.label.comfort-list__label--tv(for="tv")
          span.checkbox-text Телевизор
        input.checkbox.comfort-list__checkbox--shampoo(type="checkbox" id="shampoo")
        label.label.comfort-list__label--shampoo(for="shampoo")
          span.checkbox-text Шампунь


    .room-cards
      .cards-list
        h1.headline.room-cards__headline Номера, которые мы для вас подобрали
        .card.room-cards__card
          .slider-card.card__slider-card
            button.slider-card__button--next
            button.slider-card__button--back
            .button-group__card
            .slider-card__container
              img.slider-card__photo.slider-card__photo--1
              img.slider-card__photo.slider-card__photo--2
              img.slider-card__photo.slider-card__photo--3
              img.slider-card__photo.slider-card__photo--4
          .card__description
            h2.subhead.card__subhead 
              |№ 
              span.subhead__number 888
            span.primary.card__primary Люкс
            p.text.card__text--prise
              span.text__number 9 990&#8381 
              |  в сутки
            .card__line
            .card__stars
              .star.card__stars__star--1
              .star.card__stars__star--2
              .star.card__stars__star--3
              .star.card__stars__star--4
              .star.card__stars__star--5
            p.text.card__text--reviews
              span.text__number 19
              |  Озывов 
      
      .navigation-rooms.room-cards__navigation
        a.navigation-rooms__button.navigation-rooms__button--1.active-page 1
        a.navigation-rooms__button.navigation-rooms__button--2 2
        a.navigation-rooms__button.navigation-rooms__button--3 3
        a.navigation-rooms__button.navigation-rooms__button--4 ...
        a.navigation-rooms__button.navigation-rooms__button--4 15
        a.navigation-rooms__button.navigation-rooms__button--next  
      p.text.room-cards-text 1 - 12 из 100+ вариантов аренды
