
.content


  .page-images
    .page-images__image.page-images__image--1
    .page-images__image.page-images__image--2
    .page-images__image.page-images__image--3


  .content__wrapper


    .room-info


      .intelligence
        h2.headline-two.intellingence__headline-two Сведения о номере

        .intelligence__comfort
          span.intelligence__comfort__icon
          h3.subhead-two.intelligence__comfort__subhead-two Комфорт
          p.text.intelligence__comfort__text Шумопоглощающие стены
        
        .intelligence__facilities
          span.intelligence__facilities__icon
          h3.subhead-two.intelligence__facilities__subhead-two Удобство
          p.text.intelligence__facilities__text Окно в каждой из спален
        
        .intelligence__cosiness
          span.intelligence__cosiness__icon
          h3.subhead-two.intelligence__cosiness__subhead-two Уют
          p.text.intelligence__cosiness__text Номер оснащен камином


      .impressions
        h2.headline-two.impressions__headline-two Впечатления от номера
        
        .impressions__diagram
          .impressions__diagram__sumptuously
          .impressions__diagram__well
          .impressions__diagram__adequately
          span.impressions__diagram__number 260
          span.primary.impressions__diagram__primary Голосов

        ul.impressions__list
          li.text.impressions__list__cell.impressions__list__cell--sumptuously Великолепно
          li.text.impressions__list__cell.impressions__list__cell--well Хорошо
          li.text.impressions__list__cell.impressions__list__cell--adequately Удовлетворительно
          li.text.impressions__list__cell.impressions__list__cell--disappointed Разочарован
      

      .reviews
        h2.headline-two.reviews__headline-two Отзывы поситителей номера
        p.text.reviews__quantity-reviews
          span.reviews__quantity-reviews__number 2
          |  отзыва

        .reviews__person.reviews__person--one
          span.reviews__person__photo.reviews__person__photo--one
          .reviews__person__name
            h3.subhead-two.reviews__person__name--one Мурад Сарафанов
            p.text.reviews__person__name__past--one 5 дней назад
          .reviews__like.reviews__like--one(checked)
            span.reviews__like__icon
            span.reviews__like__number.reviews__like__number--one 12
          p.text.reviews__person__text
            | Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. 
            | И стены, действительно, шумоподавляющие. 
            | Выкрикивал комплименты повару — никто не жаловался из соседей.
        
        .reviews__person.reviews__person--two
          span.reviews__person__photo.reviews__person__photo--two
          .reviews__person__name
            h3.subhead-two.reviews__person__name--two Патрисия Стёклышкова
            p.text.reviews__person__name__past--two Неделю назад
          .reviews__like.reviews__like--two
            span.reviews__like__icon
            span.reviews__like__number.reviews__like__number--two 2
          p.text.reviews__person__text
            | Обслуживание на высоте! Всё аккуратно, чисто. 
            | Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент


      .rules
        h2.headline-two.rules__headline-two Правила
        ul.rules__list
          li.text.rules__list__cell Нельзя с питомцами
          li.text.rules__list__cell Без вечеринок и мероприятий
          li.text.rules__list__cell Время прибытия — после 13:00,<br> а выезд до 12:00


      .cancel
        h2.headline-two.cancel__headline-two Отмена
        p.text.cancel__text
          | Бесплатная отмена в течение 48 ч. 
          | После этого при отмене не позднее чем за 5 дн. до прибытия 
          | вы получите полный возврат за вычетом сбора за услуги.


    .reservation
      h2.subhead.reservation__subhead--number
        |№ 
        span.subhead__number 888
      span.primary.reservation__primary Люкс
      p.text.reservation__text--prise
        span.text__number 9 990&#8381 
        |  в сутки

      h2.subhead.reservation__subhead--arrival Прибытие
      h2.subhead.reservation__subhead--exit Выезд
      .input-wrapper.reservation__input-wrapper--arrival
        input.input-wrapper__input(type='text' placeholder="ДД.ММ.ГГГГ")
        button.input-wrapper__button
      .input-wrapper.reservation__input-wrapper--exit
        input.input-wrapper__input(type='text' placeholder="ДД.ММ.ГГГГ")
        button.input-wrapper__button
      .calendar

      h2.subhead.reservation__subhead--guests Гости
      .drop-down.reservation__drop-down
        input.drop-down__input(type="text" placeholder="Сколько гостей" value="")
        button.drop-down__button
        .drop-down__list
          ul.drop-down__list__ul
            li.subhead.drop-down__list__cells.drop-down__list__cells--adult Взрослые
              button.drop-down__list__button.drop-down__list__button--max +
              span.drop-down__list__number 0
              button.drop-down__list__button.drop-down__list__button--min(disabled) -
            li.subhead.drop-down__list__cells.drop-down__list__cells--children Дети
              button.drop-down__list__button.drop-down__list__button--max +
              span.drop-down__list__number 0
              button.drop-down__list__button.drop-down__list__button--min(disabled) -
            li.subhead.drop-down__list__cells.drop-down__list__cells--baby Младенцы
              button.drop-down__list__button.drop-down__list__button--max +
              span.drop-down__list__number 0
              button.drop-down__list__button.drop-down__list__button--min(disabled) -
          button.button-empty.drop-down__list__button-empty--clear Очистить
          button.button-empty.drop-down__list__button-empty--apply Применить

      p.text.reservation__text--total-cost
        span.reservation__text--room-prise 9 990
        | &#8381 х 
        span.reservation__text--day 4
        |  суток
      p.text.number--total-cost 39 960
        span.ruble &#8381

      p.text.reservation__text--service-charge
        | Сбор за услуги: скидка 2 179
        span.text.number--discount
        | &#8381
      span.reservation__text__info--service-charge i
      p.text.number--service-charge 0
        span.ruble &#8381

      p.text.reservation__text--service-fee
        | Сбор за дополнительные услуги
      span.reservation__text__info--service-fee i
      p.text.number--service-fee 300
        span.ruble &#8381   
      
      h2.headline-two.reservation__headline-two--total Итого
      .reservation__line-pointer
      h2.headline-two.reservation__headline-two--total-number 38 081
        span.ruble &#8381

      button.button.reservation__button Забронировать
        span.reservation__button__icon--next
