
.header {
  max-width: 1920px;
  min-width: 320px;
  min-height: 70px;
  padding: 0;
  margin: 0;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.header__wrapper {
  max-width: 1160px;
  min-width: 320px;
  min-height: 70px;
  padding: 0; 
  margin: 0 auto;
  position: relative;
}

.home-link {
  cursor: pointer;
}

.menu {
  margin: 0;
  padding: 0;
}

.logo {
  height: 40px;
  width: 107px;
  margin: 0;
  padding: 0;
}

.header__logo {
  float: left;
  margin-top: 15px;
}

.logo__image {
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  background-image: url(../images/Vector.svg), url(../images/VectorLeft.svg), url(../images/VectorRight.svg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: top right, top 15.29px left 9.41px, top 15.29px left 21.47px;
  float: left;
}

.logo__toxin {
  width: 53.19px;
  height: 12.95px;
  background-image: url(../images/TOXIN.svg);
  background-repeat: no-repeat;
  background-position: top -0.3px left -0.5px;
  float: left;
  margin: 0;
  padding: 0;
  margin-left: 13px;
  margin-top: 13.33px;
}

.header__button, .header__button-default {
  float: right;
  margin-top: 18px;
}

.header__button-default {
  margin-right: 20px;
}

.header__wrapper::after {
  display: block;
  width: 0px;
  content: "";
  clear: both;
}

.menu__button {
  float: right;
  margin-right: 21.5px;
  margin-top: 25.5px;
}

.menu__button__select-icon {
  display: block;
  background-image: url(../images/expand_more.svg);
  background-repeat: no-repeat;
  background-position: center;
  float: right;
  width: 24px;
  height: 21px;
}

@media (max-width: 1160px) {
  .header__wrapper {
    padding: 0 15px 0px 15px;
    
  }

}


@media (max-width: 460px) {
  
    .header__button, .header__button-default, .menu__button, .header__logo {
      float: none;
      display: block;
    }

    .header__logo {
      margin-left: auto;
      margin-right: auto;
    }

    .menu__button {
      display: inline-block;
      margin-right: 20px;
      text-align: center;
      
    }

    .header__button-default, .header__button {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      
    }

    .header__wrapper {
      padding: 0 30px 15px 30px;
    }
  
  }
  
