doctype html
html(lang="ru")
  head
    title= "loogin"
    meta(charset="utf-8")
    link(rel="stylesheet", href="../style/login.css")
    link(rel="stylesheet", href="../style/datepicker.css") 
  body
    include ../components/header
    include ../components/loginContent
    include ../components/footer
    include ../components/copyright