doctype html
html(lang="ru")
  head
    title= "registration"
    meta(charset="utf-8")
    link(rel="stylesheet", href="../style/registration.css")
    link(rel="stylesheet", href="../style/datepicker.css") 
  body
    include ../components/header
    include ../components/registrationContent
    include ../components/footer
    include ../components/copyright
    script(src="/js/registration.js")
  